body {
	font-size: 82%;
	background-color: #FBFBFB;
	margin: 0; padding: 1em;
	font-family: tahoma;
}
table, p, div {
	font-size: 100%;;
}
a, a:visited {
	color: #00274F;
}
a:hover {
	color: #8B0000;
}
img {
	border: none;
}
#header {
}
#header div {
	float: right;
}
#login {
	font-size: 90%;
	line-height: 20px;
	float: right;
}
#container {
	height: auto; background: #EFEFE4;
	margin-top: 1em;
}
#menu {
	float: left;
	width: 100%;
	border-bottom: 0.5em solid #EFEFE4;
	clear: both;
	background: #FBFBFB;
	font-size: 1.6em;
}
#menu ul,#menu ul li{
	list-style-type: none;
	margin: 0;
	padding: 0
}
#menu ul {
}
#menu ul li {
	float: left;
	margin-right: 3px;
	text-align: center;
	border-top: 1px solid #EFEFE4;
	border-left: 1px solid #EFEFE4;
	border-right: 1px solid #EFEFE4;
	background: #F8F8F3;
}
#menu ul a{
	float: left;
	width: 7em;
	padding: 5px 0;
	background: #F8F8F3;
	text-decoration: none;
}
#menu ul span {
	float: left;
	width: 7em;padding: 5px 0;
	background: #EFEFE4;
}

#menu ul li#current, #menu ul li#current a {
	background: #EFEFE4;
}

#submenu {
	background-color: #EFEFE4;
	width: 15em;
	float: left;
}
#submenu ul {
	margin: 0;
	padding: 0 0.5em 0 0;
	list-style-type : none;
}
#submenu li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	white-space: nowrap;
}
#submenu li#current {
	font-weight: bold;
}
#content {
	margin-left: 15em;
	padding: 0 1em 1em 1em;
	background: #FBFBFB;
}
#content h2 {
	color: Black;
	font-size : 1.6em;
	margin-top: 0px;
	font-weight: normal;
}
#content h3 {
	font-size : 1.5em;
	padding: 0px 10px 5px 10px;
	font-weight: normal;
}
#content #cins {
	padding: 0px 10px 10px 10px;
}
#content table {
	border-collapse: collapse;
	border-spacing: 0px;
	background-color : #F8F8F3;
	width: auto;
}
#content td {
	border: 1px solid silver;
	padding: 5px;
}
#content th {
	border: 1px solid silver;
	padding: 5px;
	background-color: #EFEFE4;
}
#content table.noborder {
	border-collapse: collapse;
	border-spacing: 0px;
	background-color : #FBFBFB;
}
#content .noborder td {
	border: 0px solid silver;
	padding: 5px;
}
#content .noborder th {
	border: 0px solid silver;
	padding: 5px;
}
#content ul#info {
	line-height: 18px;
}
#quest {
	margin-top: 20px;
}
#content .error {
	border: 1px solid red;
	background-color: #F8F8F3;
	color: red;
	padding: 10px;
	margin-bottom: 1em;
	width: 50%;
}
#content .message{
	border: 1px solid Green;
	background-color: #F8F8F3;
	color: Green;
	padding: 10px;
	width: 50%;
}
.drag {
	background-color : #EFEFE4;
	position : absolute;
	border : 1px solid Silver;
	padding : 3px;
}
.pagebar {
	background : #F8F8F3;
	padding: 3px;
}
 {
	margin-left: 1em;
}
 td {
	border-bottom-width: 0px;
}
 #cur {
	border-top: 1px solid #FF9200;
	background-color: #ffffff;
	font-weight: bold;
}
#inside td {
	background: #FBFBFB;
	padding: 2em;
}
#inside td td {
	background-color : #F8F8F3;
	padding:0.5em;
}
#inside table td {
padding: 0.5em;
}
.save {background: #FF9200; color: white; width: 10em; font-weight: bold}
.big {font-size: 2em;}
.big input {font-size: 100%; width: 10em;}
.signin {background: #FF9200; color: white; font-size: 2em;}
.addnew {font-size: 1.5em;}

